<div class="items">
  <div class="item">
    <img height="100" style="padding: 40px;"
         src="assets/angular.svg">
    <h1>
      Angular
    </h1>
  </div>
  <div class="item">
    <img height="100" style="padding: 40px;"
         src="assets/nestjs.svg">
    <h1>
      Nest
    </h1>
  </div>
  <div class="item">
    <img height="100" style="padding: 40px;"
         src="assets/universal.svg">
    <h1>
      Universal
    </h1>
  </div>
</div>
<div>
  <div class="data-block">
    <h2>Client</h2>
    <h3>This data comes from the libraries, imported by Angular</h3>
    <pre>{{ client | json }}</pre>
  </div>
  <div class="data-block">
    <h2>Server</h2>
    <h3>This data comes from the server, importing the same libraries.</h3>
    <pre>{{ server | json }}</pre>
  </div>
</div>

